html {
	width: 100%;
	margin: 0 auto;
}

body {
  border: 0;
  margin: 0;
  width: 100%;
  padding: 10px;
	padding-top: 0;
  font-size: 13px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

.toolbar {
	top: 0;
	right: 0;
	z-index: 11;
	position: fixed;
	background-color: transparent;
}

html[scroll] .toolbar {
	display: none;
}

.toolbar table {
  border-spacing: 0;
  table-layout: fixed;
}

.toolbar table tr td {
  padding: 0;
  width: 42px;
  color: #333;
  height: 42px;
  font-size: 13px;
  cursor: pointer;
  line-height: 42px;
  user-select: none;
  text-align: center;
  font-family: system-ui, sans-serif;
}

.toolbar table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

.toolbar table tr td svg {
  fill: #333;
  pointer-events: none;
  vertical-align: middle;
}

.container details {
	border: 0;
	padding: 0;
	margin: 0 auto;
	position: relative;
}

.container details summary {
	height: 42px;
	padding: 0 10px;
	cursor: pointer;
	line-height: 42px;
	box-sizing: border-box;
}

.container textarea, .container .CodeMirror {
	margin: 0;
	height: 300px;
	min-height: 300px;
  line-height: 22px;
	width: calc(100% - 2px);
	border: 1px solid rgba(0,0,0,0.25);
}

.container textarea {
	height: 300px;
	display: block;
	font-size: 13px;
}

.container .commands {
	top: 0;
	right: 0;
	gap: 1px;
  display: flex;
  flex-flow: row;
	margin: 0 auto;
	position: absolute;
  align-items: center;
  justify-content: center;
}

/*
html[scroll] .container .commands {
	top: 0;
	right: 10px;
	z-index: 11;
	position: fixed;
}
*/

.container .spacer {
	border: 0;
	padding: 0;
	width: 100%;
	height: 1px;
	margin: 10px auto;
	background-color: rgb(246 246 246);
}

html[result] .container .spacer {
	display: none;
}

.container .button {
  border: 0;
  margin: 0;
  padding: 0;
  color: #fff;
  width: 64px;
  height: 42px;
  outline: none;
	display: flex;
  cursor: pointer;
  font-size: 13px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
	align-items: center;
  vertical-align: middle;
  text-overflow: ellipsis;
	justify-content: center;
  background-color: #5f9cdc;
  font-family: system-ui, sans-serif;
}

/*
html[scroll] .container .button {
	width: 42px;
}
*/

.container .button svg {
	fill: #fff;
	pointer-events: none;
}

.container .upload {
	color: #333;
	height: 78px;
	display: block;
	margin: 0 auto;
	font-size: 13px;
	cursor: pointer;
	background: #fff;
	text-align: center;
	position: relative;
	width: calc(100% - 2px);
	border: solid 1px rgba(0,0,0,0.25);
}

.container .upload .title {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 32px;
	overflow: hidden;
	text-indent: 10px;
	line-height: 32px;
	position: absolute;
	text-align: center;
	white-space: nowrap;
	pointer-events: none;
	text-overflow: ellipsis;
	font-family: system-ui, sans-serif;
}

.container .upload .description {
  margin: 0;
	left: 10px;
	width: auto;
	bottom: 7px;
	height: 13px;
	line-height: 0;
	text-align: left;
	position: absolute;
	pointer-events: none;
}

.container .upload input {
	top: 0;
	left: 0;
	border: 0;
	margin: 0;
	outline: 0;
	width: 100%;
	color: #333;
	height: 100%;
	padding: 10px;
	display: block;
	cursor: pointer;
  font-size: 13px;
	position: absolute;
	box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

.container .description {
	border: 0;
	margin: 0;
  padding: 0;
  width: 100%;
  color: #333;
  font-size: 12px;
  font-weight: 600;
  user-select: none;
	text-indent: 10px;
	margin-bottom: 5px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: system-ui, sans-serif;
}

.container .info {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #333;
	height: 38px;
	font-size: 13px;
	cursor: default;
	overflow: hidden;
	user-select: none;
	text-indent: 10px;
	line-height: 38px;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: transparent;
	font-family: system-ui, sans-serif;
}

.container #execute {
	background-color: #41b945;
}

.container #fileinfo {
	top: 10px;
	padding: 0;
	width: auto;
	right: 10px;
	height: 13px;
	color: #5f9cdc;
	cursor: default;
	font-size: 13px;
	font-weight: 600;
	text-align: left;
	line-height: 13px;
	position: absolute;
	pointer-events: none;
	font-family: system-ui, sans-serif;
}

.result {
	padding: 0;
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
}

.result pre {
  margin: 0;
  padding: 0;
  color: #333;
  overflow: auto;
  font-size: 13px;
  min-height: 42px;
  box-shadow: none;
	box-sizing: border-box;
  font-family: monospace;
  border: 1px solid rgba(0,0,0,0.25);
}

.result table {
	margin: 0;
	border: 0;
	width: 100%;
	font-size: 13px;
	border-spacing: 10px;
	font-family: monospace;
	background-color: #fff;
}

.result table th, .result table td {
	border: 0;
	color: #333;
	padding: 10px;
	font-size: 13px;
	text-align: left;
  box-shadow: none;
  line-height: 18px;
  background-color: #fff;
	font-family: monospace;
	border: 1px solid rgba(0,0,0,0.1);
}

.result table td:nth-child(1) {
	border: 0;
}

#loader {
	left: 0;
	top: 18px;
	padding: 0;
	width: 100%;
	z-index: 11;
	height: 15px;
	display: flex;
	margin: 0 auto;
	position: fixed;
	text-align: center;
	align-items: center;
	pointer-events: none;
	justify-content: center;
}

#loader img {
	margin: 0;
	width: 90px;
  height: auto;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

@media (max-width: 250px) {
	.container .title, .toolbar {
    display: none;
  }
	/*
	html[scroll] .container .commands {
		position: absolute;
	}
	*/
}

@media (max-width: 500px) {
	body {
		padding: 5px;
	}
	.container .spacer {
		display: none;
	}
	.container .commands {
		position: static;
	}
	/*
	html[scroll] .container .commands {
		right: 5px;
	}
	*/
}

@media print {
	body {
		padding: 0 !important;
	}
	.container details {
		margin: 0 !important;
	}
	.toolbar, .description, .upload, .commands, .info, .CodeMirror {
		display: none !important;
	}
	.result pre {
		border: 0 !important;
	}
	.result table th, .result table td {
		white-space: pre-wrap;
	}
}

html[context="webapp"] .toolbar {
  display: none;
}
