html {
	width: 100%;
	margin: 0 auto;
}

body {
	border: 0;
	margin: 0;
	padding: 5px;
	font-size: 12px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: calc(100% - 12px);
	font-family: arial,sans-serif;
}

.container textarea, .container .CodeMirror {
	margin: 0;
	width: 100%;
	height: 300px;
	min-height: 300px;
	border: 1px solid rgba(0,0,0,0.2);
}

.container textarea {
	height: 300px;
	display: block;
	font-size: 12px;
	width: calc(100% - 5px);
}

.container .button {
	border: 0;
	color: #FFF;
	height: 38px;
	margin: 1px 0;
	outline: none;
	padding: 0 5px;
	cursor: pointer;
	font-size: 12px;
	overflow: hidden;
	line-height: 34px;
	text-align: center;
	width: calc(85% /5);
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	background-color: #5f9cdc;
	font-family: arial,sans-serif;
}

.container .upload {
	width: 100%;
	height: 110px;
	display: block;
	color: #616161;
	margin: 0 auto;
	font-size: 12px;
	cursor: pointer;
	background: #fff;
	line-height: 110px;
	text-align: center;
	position: relative;
	border: solid 1px rgba(0,0,0,0.2);
	background: #fff url('../icons/128.png') no-repeat 16px center;
	background-size: 36px;
}

.container .upload .title {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-indent: 10px;
	position: absolute;
	text-align: center;
	white-space: nowrap;
	pointer-events: none;
	text-overflow: ellipsis;
}

.container .upload .description {
	top: 5px;
	left: 5px;
	margin: 0;
	width: auto;
	height: 12px;
	text-align: left;
	line-height: 12px;
	position: absolute;
	pointer-events: none;
}

.container .upload input {
	top: 0;
	left: 0;
	border: 0;
	margin: 0;
	outline: 0;
	opacity: 0;
	width: 100%;
	color: #555;
	height: 100%;
	display: block;
	cursor: pointer;
	position: absolute;
}

.container .description {
	color: #999;
	margin: 10px 0;
	font-size: 11px;
	user-select: none;
	text-transform: uppercase;
	font-family: arial,sans-serif;
}

.container .info {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #777;
	height: 32px;
	font-size: 12px;
	cursor: default;
	overflow: hidden;
	user-select: none;
	text-indent: 10px;
	line-height: 32px;
	white-space: nowrap;
	font-family: monospace;
	text-overflow: ellipsis;
	background: transparent;
}

.container .header {
	margin: 5px auto;
	text-align: center;
}

.container .toolbar {
	top: 7px;
	right: 7px;
	z-index: 11;
	position: absolute;
}

.container .toolbar table {
  border-spacing: 0;
  table-layout: fixed;
}

.container .toolbar table tr td {
  padding: 0;
  width: 36px;
  color: #777;
  height: 36px;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  font-family: arial,sans-serif;
}

.container .toolbar table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

.container .toolbar table tr td svg {
  fill: #777;
  pointer-events: none;
  vertical-align: middle;
}

.container #execute {background-color: #41b945}

.container #fileinfo {
	left: 5px;
	padding: 0;
	bottom: 5px;
	width: auto;
	height: 12px;
	color: #5f9cdc;
	cursor: default;
	font-size: 12px;
	text-align: left;
	line-height: 12px;
	position: absolute;
	pointer-events: none;
	font-family: monospace;
}

.container #loader {
	left: 0;
	top: 12px;
	padding: 0;
	width: 100%;
	height: 18px;
	margin: 0 auto;
	position: fixed;
	text-align: center;
	background: transparent;
}

.container #loader img {
	margin: 0;
	width: 90px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.result {
	padding: 0;
	width: 100%;
	margin: 0 auto;
	background: #fff;
}

.result table {
	border: 0;
	width: 100%;
	margin: 0 auto;
	min-width: 300px;
	margin-bottom: 5px;
	border-spacing: 3px;
	background-color: rgba(0,0,0,0.01);
}

.result table th, .result table td {
	color: #555;
	padding: 5px;
	font-size: 12px;
	text-align: left;
	font-family: monospace;
	border: 1px solid rgba(0,0,0,0.1);
}

.result pre {
	margin: 0;
	color: #555;
	padding: 5px;
	overflow: auto;
	font-size: 12px;
	min-height: 16px;
	border: 1px solid rgba(0,0,0,0.2);
}

html[context="webapp"] .toolbar {
  display: none;
}

@media print {
	body {
		padding: 0 !important;
		width: 100% !important;
	}
	.container {
		display: none !important;
	}
	.result pre {
		border: 0 !important;
		padding: 0 !important;
	}
	.result table {
		margin-bottom: 0 !important;
	}
}

@media (max-width: 800px) {
	.container .button {
		width: calc(100% /5 - 3px);
	}
}

@media (max-width: 600px) {
	.container .toolbar {
    display: none;
  }
	.container .button {
		width: 100%;
		height: 42px;
	}
}

@media (max-width: 500px) {
	.container .upload {
		background: #fff;
	}
}